* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-bg-white: #ffffff;
  --main-bg-red:linear-gradient(to bottom, #8B0000, #400000); 
  --secondary-red: #7b0e0e;
  --font-white: #ffffff;
  --font-black: #000000;
  --submit-blue: #008cff;
  --submit-blue-hover: #0073bf;
  --cancel-red: #ff0000;
  --cancel-red-hover: #b30000;
  --add-green: #07a607;
  --add-green-hover: #0b7e0b;
  --edit-yellow: #ffd700;
  --edit-yellow-hover: #ffb800;
}
body,
html {
  min-height:100vh;
  background: var(--main-bg-red);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', serif;
  letter-spacing: 2px;
}
Link{
  text-decoration: none;
}