* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --main-bg-white:#FFFFFF;
  --main-bg-blue: #03202F;
  --secondary-red:#A71930;
  --font-white: #FFFFFF;
  --font-black: #000000;
  --submit-blue: #008CFF;
  --submit-blue-hover: #0073bf;
  --cancel-red: #FF0000;
  --cancel-red-hover: #B30000;
  --add-green: #07a607;
  --add-green-hover: #0b7e0b;
  --edit-yellow: #FFD700;
  --edit-yellow-hover: #FFB800;

}
body,
html {
  height: 100%;  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
