.reg-form{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--main-bg-white);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-flow: row;
    align-content: center;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group label{
    font-size: 1.2rem;
    color: var(--font-black);
}
.form-group input{
    padding:5px;
    border:none;
    border-bottom: 1px solid var(--font-black);
    outline:none
}
.skill-cancel{
    color: var(--cancel-red);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
        color: var(--cancel-red-hover);
    }
}